<nav>
  <ul class="d-flex justify-content-center p-4">
    <a class="text-decoration-none text-dark" href="/productos"><li class="list-unstyled me-5">VER PRODUCTOS</li></a>
    <a class="text-decoration-none text-dark" href="/productos/add"><li class="list-unstyled">AGREGAR PRODUCTO</li></a>
  </ul>
</nav>