<nav class="container">
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled" aria-current="page" href="#">{{name}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>

</ul>
</nav>